<h1 class="mb-3"><%= friend.name %> card</h1>

<div class="card border-info mb-3" style="max-width: 18rem;">
  <div class="card-header">Email: <%= friend.email %></div>
  <div class="card-body">
    <h5 class="card-title">Name: <%= friend.name %></h5>
    <p class="card-text">Surname: <%= friend.surname %></p>
  </div>
</div>
