<nav class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Friends</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <%= link_to "All friends", root_path, class: ["nav-link", ("active" if current_page?(root_path))] %>
        </li>
        <li class="nav-item">
          <%= link_to "School", school_friends_path, class: ["nav-link", ("active" if current_page?(school_friends_path))] %>
        </li>
        <li class="nav-item">
          <%= link_to "Holiday", holiday_friends_path, class: ["nav-link", ("active" if current_page?(holiday_friends_path))] %>
        </li>
        <li class="nav-item">
          <%= link_to "School", work_friends_path, class: ["nav-link", ("active" if current_page?(work_friends_path))] %>
        </li>
      </ul>
    </div>
  </div>
</nav>
